{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/freebeatsshowroom/css/les-salles-presenties.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="clearfix grpelem" id="ppamphletu3865"><!-- column -->
      <div class="PamphletWidget clearfix colelem" id="pamphletu3865"><!-- group -->
       <div class="ThumbGroup clearfix grpelem" id="u3888"><!-- none box -->
        <div class="popup_anchor">
         <div class="Thumb popup_element clearfix wp-tab-active PamphletThumbSelected" id="u3953"><!-- group -->
          <div class="clearfix grpelem" id="u4003-4"><!-- content -->
           <p>Sunset-sunside (club)</p>
          </div>
         </div>
        </div>
        <div class="popup_anchor">
         <div class="Thumb popup_element clearfix" id="u3955"><!-- group -->
          <div class="clearfix grpelem" id="u4004-4"><!-- content -->
           <p>Social Club </p>
          </div>
         </div>
        </div>
        <div class="popup_anchor">
         <div class="Thumb popup_element clearfix" id="u3957"><!-- group -->
          <div class="clearfix grpelem" id="u4005-4"><!-- content -->
           <p>L’Alhambra</p>
          </div>
         </div>
        </div>
        <div class="popup_anchor">
         <div class="Thumb popup_element clearfix" id="u3959"><!-- group -->
          <div class="clearfix grpelem" id="u4006-4"><!-- content -->
           <p>Le Bizz’Art</p>
          </div>
         </div>
        </div>
        <div class="popup_anchor">
         <div class="Thumb popup_element clearfix" id="u3961"><!-- group -->
          <div class="clearfix grpelem" id="u4007-4"><!-- content -->
           <p>Le New Morning</p>
          </div>
         </div>
        </div>
        <div class="popup_anchor">
         <div class="Thumb popup_element clearfix" id="u3963"><!-- group -->
          <div class="clearfix grpelem" id="u4008-4"><!-- content -->
           <p>Nouveau Casino</p>
          </div>
         </div>
        </div>
        <div class="popup_anchor">
         <div class="Thumb popup_element clearfix" id="u3966"><!-- group -->
          <div class="clearfix grpelem" id="u4010-4"><!-- content -->
           <p>Petit Bain</p>
          </div>
         </div>
        </div>
        <div class="popup_anchor">
         <div class="Thumb popup_element clearfix" id="u3968"><!-- group -->
          <div class="clearfix grpelem" id="u4011-4"><!-- content -->
           <p>Les trois baudets</p>
          </div>
         </div>
        </div>
        <div class="popup_anchor">
         <div class="Thumb popup_element clearfix" id="u3970"><!-- group -->
          <div class="clearfix grpelem" id="u4012-4"><!-- content -->
           <p>Cabaret sauvage</p>
          </div>
         </div>
        </div>
        <div class="popup_anchor">
         <div class="Thumb popup_element clearfix" id="u3972"><!-- group -->
          <div class="clearfix grpelem" id="u4013-4"><!-- content -->
           <p>La Bellevilloise</p>
          </div>
         </div>
        </div>
       </div>
       <div class="popup_anchor">
        <div class="ContainerGroup clearfix" id="u3866" style="width: 0px; height: 0px; "><!-- stack box -->
         <div class="Container rounded-corners clearfix grpelem wp-panel wp-panel-active" id="u3954"><!-- group -->
          <div class="rounded-corners clearfix grpelem" id="u4082"><!-- column -->
           <div class="position_content" id="u4082_position_content">
            <div class="colelem" id="u4129"><!-- rasterized frame -->
             <img id="u4129_img" src="{{ asset('bundles/freebeatsshowroom/images/e749063l-u4129.png') }}" alt="" width="70" height="122">
            </div>
            <a class="nonblock nontext rounded-corners clearfix colelem" id="u5282-4" href="http://www.sunset-sunside.com"><!-- content --><p>&nbsp;www.sunset-sunside.com</p></a>
            <div class="clearfix colelem" id="u4153-16"><!-- content -->
             <p>&nbsp;</p>
             <p>Lieu culte des passionnés de jazz, parisiens comme touristes, le Sunset &amp; Sunside doit sa notoriété à sa dualité avec deux salles superposées destinées au jazz et à ses musiques cousines. D’un côté, le Sunside, est le temple du jazz acoustique depuis plus de dix ans, alors que le Sunset crée en 1982 s’est ouvert récemment aux musiques actuelles sans oublier le jazz.</p>
             <p>Styles : Jazz</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>Adresse:</p>
             <p>60 rue des Lombards </p>
             <p>75001 Paris</p>
             <p>&nbsp;</p>
            </div>
            <div class="colelem" id="u5959"><!-- custom html -->
			<div class="hold_it">
			<div class="holder">
				<iframe width="350" height="250" frameborder="0" 
					scrolling="no" marginheight="0" marginwidth="0" 
					src="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Sunset++Sunside,+Rue+des+Lombards,+75001+Paris&amp;aq=1&amp;oq=60+rue+des+Lombards++75001+Paris&amp;sll=48.951817,2.48085&amp;sspn=0.136402,0.37405&amp;ie=UTF8&amp;hq=Sunset++Sunside,+Rue+des+Lombards,+75001+Paris&amp;ll=48.859823,2.347714&amp;spn=0.014682,0.032015&amp;t=m&amp;output=embed">
				</iframe>
			  	<div class="shadow1"></div>
			  	<div class="shadow2"></div>
			  	<div class="shadow3"></div>
			  	<div class="shadow4"></div>
				</div>
			</div>
			</div>
           </div>
          </div>
         </div>
         <div class="Container rounded-corners clearfix grpelem wp-panel" id="u3956" style="display: none; "><!-- group -->
          <div class="rounded-corners clearfix grpelem" id="u4083"><!-- column -->
           <div class="position_content" id="u4083_position_content">
            <div class="colelem" id="u4163"><!-- rasterized frame -->
             <img id="u4163_img" src="{{ asset('bundles/freebeatsshowroom/images/77987-rockstar-social-club-u4163.png') }}" alt="" width="181" height="80">
            </div>
            <a class="nonblock nontext rounded-corners clearfix colelem" id="u5283-4" href="http://www.parissocialclub.com"><!-- content --><p>www.parissocialclub.com</p></a>
            <div class="clearfix colelem" id="u4154-22"><!-- content -->
             <p>&nbsp;</p>
             <p>Eclectique, ouvert et curieux, le Social Club accueille DJs, concerts. </p>
             <p>&nbsp;</p>
             <p>Style : Electro</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>Adresse:</p>
             <p>142 rue Montmartre</p>
             <p>75002 Paris </p>
             <p>&nbsp;</p>
             <p>01 40 28 05 55</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
            </div>
            <div class="colelem" id="u5961"><!-- custom html -->
            
			<div class="hold_it">
			<div class="holder">
				<iframe width="350" height="250" frameborder="0" 
					scrolling="no" marginheight="0" marginwidth="0" 
					src="http://maps.google.fr/maps?q=142+Rue+Montmartre,+75002+Paris&amp;sll=48.869031,2.343283&amp;hl=fr&amp;ie=UTF8&amp;hq=&amp;hnear=142+Rue+Montmartre,+75002+Paris,+%C3%8Ele-de-France&amp;ll=48.869048,2.343285&amp;spn=0.00837,0.023378&amp;t=m&amp;z=14&amp;output=embed">
				</iframe>
			  	<div class="shadow1"></div>
			  	<div class="shadow2"></div>
			  	<div class="shadow3"></div>
			  	<div class="shadow4"></div>
				</div>
			</div>
			</div>
           </div>
          </div>
         </div>
         <div class="Container rounded-corners clearfix grpelem wp-panel" id="u3958" style="display: none; "><!-- group -->
          <div class="rounded-corners clearfix grpelem" id="u4084"><!-- column -->
           <div class="position_content" id="u4084_position_content">
            <div class="colelem" id="u4168"><!-- rasterized frame -->
             <img id="u4168_img" src="{{ asset('bundles/freebeatsshowroom/images/paris-alhambra-u4168.png') }}" alt="" width="118" height="118">
            </div>
            <a class="nonblock nontext rounded-corners clearfix colelem" id="u5284-4" href="http://www.alhambra-paris.com"><!-- content --><p>www.alhambra-paris.com</p></a>
            <div class="clearfix colelem" id="u4155-21"><!-- content -->
             <p>&nbsp;</p>
             <p>C’est en hommage au célèbre music-hall voisin, disparu dans les années 60, que cette nouvelle salle dédiée aux musiques actuelles est baptisée Alhambra. Elle est dorénavant « La Scène de Toutes Les Musiques ».</p>
             <p>&nbsp;</p>
             <p>Styles : Pop/Rock, World, Hip-Hop, Soul/Groove/Funk</p>
             <p>&nbsp;</p>
             <p>Adresse:</p>
             <p>21 rue Yves Toudic</p>
             <p>75010 Paris </p>
             <p>&nbsp;</p>
             <p>01 40 20 40 25</p>
             <p>M° Jacques Bonsergent</p>
             <p>&nbsp;</p>
            </div>
            <div class="colelem" id="u5965"><!-- custom html -->
             
			<div class="hold_it">
			<div class="holder">
				<iframe width="350" height="250" frameborder="0" 
					scrolling="no" marginheight="0" marginwidth="0" 
					src="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Alhambra,+Rue+Yves+Toudic,+75010+Paris&amp;aq=1&amp;oq=21+rue+Yves+Toudic+75010+Paris+&amp;sll=48.868145,2.345924&amp;sspn=0.00837,0.023378&amp;ie=UTF8&amp;hq=Alhambra,+Rue+Yves+Toudic,+75010+Paris&amp;t=m&amp;ll=48.870621,2.36307&amp;spn=0.014679,0.032015&amp;output=embed">
				</iframe>
			  	<div class="shadow1"></div>
			  	<div class="shadow2"></div>
			  	<div class="shadow3"></div>
			  	<div class="shadow4"></div>
				</div>
			</div>
			</div>
           </div>
          </div>
         </div>
         <div class="Container rounded-corners clearfix grpelem wp-panel" id="u3960" style="display: none; "><!-- group -->
          <div class="rounded-corners clearfix grpelem" id="u4085"><!-- column -->
           <div class="position_content" id="u4085_position_content">
            <div class="colelem" id="u4173"><!-- rasterized frame -->
             <img id="u4173_img" src="{{ asset('bundles/freebeatsshowroom/images/bizz_art_cafe-u4173.png') }}" alt="" width="237" height="124">
            </div>
            <a class="nonblock nontext rounded-corners clearfix colelem" id="u5285-4" href="http://www.bizzartclub.com"><!-- content --><p>www.bizzartclub.com</p></a>
            <div class="clearfix colelem" id="u4156-22"><!-- content -->
             <p>&nbsp;</p>
             <p>Avec ses airs de loft new yorkais, le Bizz’Art est devenu LE lieu incontournable des amateurs de Musiques Soul à Paris, mais aussi une adresse reconnue pour les aficionados des ambiances latino-brésiliennes.</p>
             <p>&nbsp;</p>
             <p>Styles : World, Soul/Groove/Funk</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>Adresse:</p>
             <p>167 quai de Valmy </p>
             <p>75010 Paris</p>
             <p>&nbsp;</p>
             <p>&nbsp;01 40 34 70 00</p>
             <p>M° Louis Blanc</p>
             <p>&nbsp;</p>
            </div>
            <div class="colelem" id="u5967"><!-- custom html -->
             
			<div class="hold_it">
			<div class="holder">
				<iframe width="350" height="250" frameborder="0" 
					scrolling="no" marginheight="0" marginwidth="0" 
					src="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Bizz'art,+Quai+de+Valmy,+75010+Paris&amp;aq=1&amp;oq=167+quai+de+Valmy++75010+Paris&amp;sll=48.870621,2.36307&amp;sspn=0.016739,0.046756&amp;ie=UTF8&amp;hq=Bizz'art,+Quai+de+Valmy,+75010+Paris&amp;ll=48.879254,2.366593&amp;spn=0.016736,0.046756&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=8561289627382167437&amp;output=embed">
				</iframe>
			  	<div class="shadow1"></div>
			  	<div class="shadow2"></div>
			  	<div class="shadow3"></div>
			  	<div class="shadow4"></div>
				</div>
			</div>
			</div>
           </div>
          </div>
         </div>
         <div class="Container rounded-corners clearfix grpelem wp-panel" id="u3962" style="display: none; "><!-- group -->
          <div class="rounded-corners clearfix grpelem" id="u4086"><!-- column -->
           <div class="position_content" id="u4086_position_content">
            <div class="colelem" id="u4178"><!-- rasterized frame -->
             <img id="u4178_img" src="{{ asset('bundles/freebeatsshowroom/images/new-morning-u4178.png') }}" alt="" width="136" height="113">
            </div>
            <a class="nonblock nontext rounded-corners clearfix colelem" id="u5286-4" href="http://%20www.newmorning.com"><!-- content --><p>&nbsp;www.newmorning.com</p></a>
            <div class="clearfix colelem" id="u4157-21"><!-- content -->
             <p>&nbsp;</p>
             <p id="u4157-3">Le New Morning est une des salles de concert les plus chaleureuses de Paris. Du Jazz au reggae en passant par le rock et les musiques afro-cubaines.</p>
             <p>&nbsp;</p>
             <p>Styles : World, Soul/Groove/Funk</p>
             <p>&nbsp;</p>
             <p>Adresse:</p>
             <p>7 &amp; 9 Rue des Petites Ecuries </p>
             <p>75010 Paris </p>
             <p>01 45 23 51 41</p>
             <p>&nbsp;</p>
             <p>M° Château d’eau</p>
             <p>&nbsp;</p>
            </div>
            <div class="colelem" id="u5969"><!-- custom html -->
             
			<div class="hold_it">
			<div class="holder">
				<iframe width="350" height="250" frameborder="0" 
					scrolling="no" marginheight="0" marginwidth="0" 
					src="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=New+Morning+9+Rue+des+Petites+Ecuries++75010+Paris&amp;aq=&amp;sll=48.873049,2.353091&amp;sspn=0.008369,0.023378&amp;ie=UTF8&amp;hq=New+Morning+9+Rue+des+Petites+Ecuries++75010+Paris&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=8386289692147329562&amp;ll=48.873054,2.353408&amp;output=embed">
				</iframe>
				<div class="shadow1"></div>
			  	<div class="shadow2"></div>
			  	<div class="shadow3"></div>
			  	<div class="shadow4"></div>
				</div>
			</div>
			</div>
           </div>
          </div>
         </div>
         <div class="Container rounded-corners clearfix grpelem wp-panel" id="u3964" style="display: none; "><!-- group -->
          <div class="rounded-corners clearfix grpelem" id="u4087"><!-- column -->
           <div class="position_content" id="u4087_position_content">
            <div class="colelem" id="u4183"><!-- rasterized frame -->
             <img id="u4183_img" src="{{ asset('bundles/freebeatsshowroom/images/logo-nc_plein_noir_web-u4183.png') }}" alt="" width="198" height="97">
            </div>
            <a class="nonblock nontext rounded-corners clearfix colelem" id="u5287-4" href="http://www.nouveaucasino.net"><!-- content --><p>www.nouveaucasino.net</p></a>
            <div class="clearfix colelem" id="u4158-18"><!-- content -->
             <p>&nbsp;</p>
             <p id="u4158-3">Avec une programmation internationale qui se transforme en club dès minuit chaque vendredi et samedi, découvrez avant tout le monde les plus grands artistes de demain dans un écrin à taille humaine.</p>
             <p>&nbsp;</p>
             <p>Styles : tout type</p>
             <p>&nbsp;</p>
             <p>109 rue Oberkampf </p>
             <p>75011</p>
             <p>01 43 57 57 40</p>
             <p>M° Parmentier</p>
             <p>&nbsp;</p>
            </div>
            <div class="colelem" id="u5971"><!-- custom html -->
             
			<div class="hold_it">
			<div class="holder">
			<iframe width="350" height="250" frameborder="0" 
				scrolling="no" marginheight="0" marginwidth="0" 
				src="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Nouveau+Casino,+Rue+Oberkampf,+75011+Paris&amp;aq=1&amp;oq=109+rue+Oberkampf++75011&amp;sll=48.873118,2.353462&amp;sspn=0.016738,0.046756&amp;ie=UTF8&amp;hq=Nouveau+Casino,+Rue+Oberkampf,+75011+Paris&amp;ll=48.865845,2.377917&amp;spn=0.016741,0.046756&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=5675810106338248712&amp;output=embed">
				</iframe>
			  	<div class="shadow1"></div>
			  	<div class="shadow2"></div>
			  	<div class="shadow3"></div>
			  	<div class="shadow4"></div>
				</div>
			</div>
			</div>
           </div>
          </div>
         </div>
         <div class="Container rounded-corners clearfix grpelem wp-panel" id="u3967" style="display: none; "><!-- group -->
          <div class="rounded-corners clearfix grpelem" id="u4088"><!-- column -->
           <div class="position_content" id="u4088_position_content">
            <div class="colelem" id="u4188"><!-- rasterized frame -->
             <img id="u4188_img" src="{{ asset('bundles/freebeatsshowroom/images/logo-petitbain-u4188.png') }}" alt="" width="158" height="125">
            </div>
            <a class="nonblock nontext rounded-corners clearfix colelem" id="u5288-4" href="http://www.petitbain.org"><!-- content --><p>www.petitbain.org</p></a>
            <div class="clearfix colelem" id="u4159-21"><!-- content -->
             <p id="u4159-4">Petit Bain est une salle de concerts et un restaurant. <br>Petit Bain c’est un espace pour écouter, voir, entendre, jardiner, danser, apprendre, rencontrer... Un espace convivial pour montrer qu’il est possible d’entreprendre autrement.</p>
             <p>&nbsp;</p>
             <p>Styles : World ; Soul/Groove/Funk</p>
             <p>&nbsp;</p>
             <p>Adresse:</p>
             <p>Port de la gare</p>
             <p>75013 Paris</p>
             <p>&nbsp;01 80 48 49 81</p>
             <p>M° Quai de la gare</p>
             <p>&nbsp;</p>
            </div>
            <div class="colelem" id="u5973"><!-- custom html -->
             
			<div class="hold_it">
				<div class="holder">
					<iframe width="350" height="250" frameborder="0" 
						scrolling="no" marginheight="0" marginwidth="0" 
						src="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Petit+Bain++7+Port+de+la+Gare,+Paris+75013+&amp;aq=&amp;sll=48.835956,2.375944&amp;sspn=0.134007,0.37405&amp;ie=UTF8&amp;hq=Petit+Bain+7+Port+de+la+Gare,&amp;hnear=13e+Arrondissement,+Paris,+%C3%8Ele-de-France&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=17265729834451903532&amp;ll=48.835726,2.376308&amp;output=embed">
					</iframe>
				  	<div class="shadow1"></div>
				  	<div class="shadow2"></div>
				  	<div class="shadow3"></div>
				  	<div class="shadow4"></div>
					</div>
				</div>
			</div>
           </div>
          </div>
         </div>
         <div class="Container rounded-corners clearfix grpelem wp-panel" id="u3969" style="display: none; "><!-- group -->
          <div class="rounded-corners clearfix grpelem" id="u4089"><!-- column -->
           <div class="position_content" id="u4089_position_content">
            <div class="colelem" id="u4193"><!-- rasterized frame -->
             <img id="u4193_img" src="{{ asset('bundles/freebeatsshowroom/images/lestroisbaudets_r_logo_partenaires-u4193.png') }}" alt="" width="200" height="121">
            </div>
            <a class="nonblock nontext rounded-corners clearfix colelem" id="u5289-4" href="www.lestroisbaudets.com"><!-- content --><p>www.lestroisbaudets.com</p></a>
            <a class="nonblock nontext clearfix colelem" id="u4160-20" href="http://www.lestroisbaudets.com"><!-- content --><p>&nbsp;</p><p id="u4160-3">Scène pilote et relais parisien, les trois baudets se consacrent à la découverte, au développement et à la diffusion des jeunes talents francophones.</p><p>&nbsp;</p><p>Styles : Pop/Rock, Chanson française</p><p>&nbsp;</p><p>Adresse:</p><p>64 boulevard de&nbsp; Clichy </p><p>75018 Paris</p><p>01 42 62 33 33</p><p>M° Blanche</p><p>&nbsp;</p></a>
            <div class="colelem" id="u5975"><!-- custom html -->
            
			<div class="hold_it">
				<div class="holder">
					<iframe width="350" height="250" frameborder="0" 
						scrolling="no" marginheight="0" marginwidth="0" 
						src="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Les+Trois+Baudets,+64+Boulevard+de+Clichy,+75018+Paris&amp;aq=0&amp;oq=Les+trois+baudets+64+boulevard+de++Clichy++75018+Paris&amp;sll=48.835726,2.376308&amp;sspn=0.016751,0.046756&amp;ie=UTF8&amp;hq=Les+Trois+Baudets,+64+Boulevard+de+Clichy,+75018+Paris&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=9070144982599128770&amp;ll=48.883442,2.33444&amp;output=embed">
					</iframe>
					<div class="shadow1"></div>
				  	<div class="shadow2"></div>
				  	<div class="shadow3"></div>
				  	<div class="shadow4"></div>
					</div>
				</div>
			</div>
           </div>
          </div>
         </div>
         <div class="Container rounded-corners clearfix grpelem wp-panel" id="u3971" style="display: none; "><!-- group -->
          <div class="rounded-corners clearfix grpelem" id="u4090"><!-- column -->
           <div class="position_content" id="u4090_position_content">
            <div class="colelem" id="u4198"><!-- rasterized frame -->
             <img id="u4198_img" src="{{ asset('bundles/freebeatsshowroom/images/logocab-u4198.png') }}" alt="" width="152" height="122">
            </div>
            <a class="nonblock nontext rounded-corners clearfix colelem" id="u5290-4" href="http://www.cabaretsauvage.com"><!-- content --><p>www.cabaretsauvage.com</p></a>
            <div class="clearfix colelem" id="u4161-20"><!-- content -->
             <p>&nbsp;</p>
             <p id="u4161-3">Le Cabaret Sauvage est un endroit privilégié de par sa situation&nbsp; géographique, en plein cœur du Parc de la Villette, premier parc culturel urbain. Salle de spectacle atypique, le Cabaret sauvage se prête à tous les styles de musique grâce à son cadre chaleureux.</p>
             <p>&nbsp;</p>
             <p>Style : tout type</p>
             <p>&nbsp;</p>
             <p>Adresse:</p>
             <p>59 boulevard Mac Donald </p>
             <p>75019 Paris</p>
             <p>01 72 09 03 09</p>
             <p>M° Porte de Pantin &amp; Porte de la Villette</p>
             <p>&nbsp;</p>
            </div>
            <div class="colelem" id="u5977"><!-- custom html -->
             
			<div class="hold_it">
				<div class="holder">
					<iframe width="350" height="250" frameborder="0" 
						scrolling="no" marginheight="0" marginwidth="0" 
						src="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Le+Cabaret+Sauvage,+59+Boulevard+Macdonald,+75019+Paris&amp;aq=0&amp;oq=Le+Cabaret+Sauvage+59+boulevard+Mac+Donald++75019+Paris&amp;sll=48.883428,2.33449&amp;sspn=0.016735,0.046756&amp;ie=UTF8&amp;hq=Le+Cabaret+Sauvage,+59+Boulevard+Macdonald,+75019+Paris&amp;ll=48.895345,2.392168&amp;spn=0.014671,0.032015&amp;t=m&amp;output=embed">
					</iframe>
				  	<div class="shadow1"></div>
				  	<div class="shadow2"></div>
				  	<div class="shadow3"></div>
				  	<div class="shadow4"></div>
					</div>
				</div>
			</div>
           </div>
          </div>
         </div>
         <div class="Container rounded-corners clearfix grpelem wp-panel" id="u3973" style="display: none; "><!-- group -->
          <div class="rounded-corners clearfix grpelem" id="u4091"><!-- column -->
           <div class="position_content" id="u4091_position_content">
            <div class="colelem" id="u4203"><!-- rasterized frame -->
             <img id="u4203_img" src="{{ asset('bundles/freebeatsshowroom/images/bellevilloise-horizontal-noir-u4203.png') }}" alt="" width="288" height="78">
            </div>
            <a class="nonblock nontext rounded-corners clearfix colelem" id="u5291-4" href="http://www.labellevilloise.com"><!-- content --><p>www.labellevilloise.com</p></a>
            <div class="clearfix colelem" id="u4162-18"><!-- content -->
             <p>&nbsp;</p>
             <p id="u4162-3">La Bellevilloise, lieu parisien de culture, indépendant et multidisciplinaire, installé dans l’ancienne maison du peuple, est dédiée aujourd’hui sur plus de 2000m² à toutes les formes d’expression et d’expérimentation : démarches artistiques innovantes, nouvelles pratiques culturelles et sociales.</p>
             <p>&nbsp;</p>
             <p>Style : tout type</p>
             <p>&nbsp;</p>
             <p>19-21 rue Boyer</p>
             <p>Adresse:</p>
             <p>01 46 36 07 07</p>
             <p>M° Ménilmontant &amp; Gambetta</p>
             <p>&nbsp;</p>
            </div>
            <div class="colelem" id="u5979"><!-- custom html -->
             
			<div class="hold_it">
				<div class="holder">
					<iframe width="350" height="250" frameborder="0" 
						scrolling="no" marginheight="0" marginwidth="0" 
						src="http://maps.google.fr/maps?q=La+Bellevilloise,+19-21+Rue+Boyer,+Paris&amp;sll=48.868483,2.392175&amp;cid=4080203530722210192&amp;hl=fr&amp;ie=UTF8&amp;hq=La+Bellevilloise,+19-21+Rue+Boyer,+Paris&amp;hnear=&amp;ll=48.868586,2.392174&amp;spn=0.006295,0.006295&amp;t=m&amp;output=embed">
					</iframe>
				  	<div class="shadow1"></div>
				  	<div class="shadow2"></div>
				  	<div class="shadow3"></div>
				  	<div class="shadow4"></div>
					</div>
				</div>
			</div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="clearfix colelem" id="pu3751"><!-- group -->
       <div class="rounded-corners clearfix grpelem" id="u3751"><!-- group -->
        <div class="grpelem" id="u3736-4"><!-- rasterized frame -->
         <img id="u3736-4_img" src="{{ asset('bundles/freebeatsshowroom/images/u3736-4.png') }}" alt="PARIS 01e" width="14" height="87">
        </div>
       </div>
       <div class="grpelem" id="u3992"><!-- simple frame --></div>
      </div>
      <div class="clearfix colelem" id="pu3753"><!-- group -->
       <div class="rounded-corners clearfix grpelem" id="u3753"><!-- group -->
        <div class="grpelem" id="u3759-4"><!-- rasterized frame -->
         <img id="u3759-4_img" src="{{ asset('bundles/freebeatsshowroom/images/u3759-4.png') }}" alt="PARIS 02e" width="14" height="87">
        </div>
       </div>
       <div class="grpelem" id="u3993"><!-- simple frame --></div>
      </div>
      <div class="clearfix colelem" id="pu3761"><!-- group -->
       <div class="rounded-corners clearfix grpelem" id="u3761"><!-- group -->
        <div class="grpelem" id="u3965-4"><!-- rasterized frame -->
         <img id="u3965-4_img" src="{{ asset('bundles/freebeatsshowroom/images/u3965-4.png') }}" alt="PARIS 10e" width="14" height="87">
        </div>
       </div>
       <div class="grpelem" id="u3994"><!-- simple frame --></div>
      </div>
      <div class="clearfix colelem" id="pu3986"><!-- group -->
       <div class="rounded-corners clearfix grpelem" id="u3986"><!-- group -->
        <div class="grpelem" id="u3989-4"><!-- rasterized frame -->
         <img id="u3989-4_img" src="{{ asset('bundles/freebeatsshowroom/images/u3989-4.png') }}" alt="PARIS 11e" width="14" height="86">
        </div>
       </div>
       <div class="grpelem" id="u3995"><!-- simple frame --></div>
      </div>
      <div class="clearfix colelem" id="pu3987"><!-- group -->
       <div class="rounded-corners clearfix grpelem" id="u3987"><!-- group -->
        <div class="grpelem" id="u3990-4"><!-- rasterized frame -->
         <img id="u3990-4_img" src="{{ asset('bundles/freebeatsshowroom/images/u3990-4.png') }}" alt="PARIS 13e" width="14" height="87">
        </div>
       </div>
       <div class="grpelem" id="u3996"><!-- simple frame --></div>
      </div>
      <div class="clearfix colelem" id="pu4149"><!-- group -->
       <div class="rounded-corners clearfix grpelem" id="u4149"><!-- group -->
        <div class="grpelem" id="u4151-4"><!-- rasterized frame -->
         <img id="u4151-4_img" src="{{ asset('bundles/freebeatsshowroom/images/u4151-4.png') }}" alt="PARIS 19e" width="14" height="87">
        </div>
       </div>
       <div class="grpelem" id="u4145"><!-- simple frame --></div>
      </div>
      <div class="clearfix colelem" id="pu3988"><!-- group -->
       <div class="rounded-corners clearfix grpelem" id="u3988"><!-- group -->
        <div class="grpelem" id="u3991-4"><!-- rasterized frame -->
         <img id="u3991-4_img" src="{{ asset('bundles/freebeatsshowroom/images/u3991-4.png') }}" alt="PARIS 18e" width="14" height="87">
        </div>
       </div>
       <div class="grpelem" id="u3997"><!-- simple frame --></div>
      </div>
      <div class="clearfix colelem" id="pu4150"><!-- group -->
       <div class="rounded-corners clearfix grpelem" id="u4150"><!-- group -->
        <div class="grpelem" id="u4152-4"><!-- rasterized frame -->
         <img id="u4152-4_img" src="{{ asset('bundles/freebeatsshowroom/images/u4152-4.png') }}" alt="PARIS 20e" width="14" height="87">
        </div>
       </div>
       <div class="grpelem" id="u4147"><!-- simple frame --></div>
      </div>
     </div>

{% endblock %}