    <div class="clearfix colelem" id="master-footer"><!-- group --> 
        <div class="footer-map-link" id=""><!-- content -->
         <p class="footer-links">
         <a class="" id="" href="{{ path('freebeats_home_homepage') }}">
         	Accueil
         </a>
         <a class="footer-map-link" id="" href="{{ path('freebeats_unlimitedcard_homepage') }}">
         	La carte illimitée
         </a>
         <a class="footer-map-link" id="" href="{{ path('freebeats_showroom_homepage') }}">
         	Les salles présenties
         </a>
         <a class="footer-map-link" id="" href="{{ path('freebeats_subscribe_homepage') }}">
         	Abonnez-vous
         </a>
         <a class="footer-map-link" id="" href="{{ path('freebeats_about_homepage') }}">
         	A propos
         </a>
         <a class="footer-map-link" id="" href="{{ path('freebeats_about_terms_conditions') }}">
         	Termes et conditions d'abonement
         </a>
         <a class="footer-map-link" id="" href="{{ path('freebeats_about_homepage') }}">
         	Infos légales
         </a>
         <a class="footer-map-link" id="" href="{{ path('freebeats_home_contactus') }}">
           Contactez-nous
        </a>
        </p>
         <p class="footer-links">
          	(c) Freedom Beats Illimité. TOUT DROITS RESERVES 2012 - Design by DISIDE STUDIO
          	<script type="text/javascript">
			
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-35396030-1']);
			  _gaq.push(['_setDomainName', 'freedombeats.com']);
			  _gaq.push(['_trackPageview']);
			
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
			
			 </script>
          </p>
     </div>
     
    </div>
   </div>
  </div>
  <div class="preload_images">
   <img class="preload" src="{{ asset('bundles/freebeats/images/bouton%20sondage22.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/bouton%20sondage23.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/bouton%20sondage24.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/facebook-u5899-r-fr.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/twitter-u5910-r-fr.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/u212-r-sprite.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/u212-m-sprite.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/u212-a-sprite.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/u6079-r-sprite.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/u6079-m-sprite.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/u6079-a-sprite.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/u6105-r-sprite.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/u6105-m-sprite.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/u6053-r-sprite.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/u6053-m-sprite.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/u6053-a-sprite.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/boutton2.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/boutton4.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/btn%20envoyer-u5157-17-r.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/btn%20envoyer-u5157-17-m.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/btn%20envoyer-u5157-17-fs.png') }}" alt="">
  </div>