    <div class="clearfix colelem" id="master-footer"><!-- group -->
     <div class="gradient browser_width grpelem" id="u5281" style="margin-left: 0px; left: -18.5px; width: 1259px; margin-right: -1261px; "><!-- group -->
      <div class="clearfix" id="u5281_align_to_page">
       <div class="gradient rounded-corners clearfix grpelem" id="u6180"><!-- group -->
        <div class="clearfix grpelem" id="pu5130-4"><!-- column -->
         <div class="clearfix colelem" id="u5130-4"><!-- content -->
          <p>Menu</p>
         </div>
         <a class="nonblock nontext clearfix colelem footer-map-link" id="u5803-4" href="{{ path('freebeats_home_sitemap') }}"><!-- content -->
         	<p>Plan du site</p>
         </a>
         <a class="nonblock nontext clearfix colelem footer-map-link" id="u1393-4" href="{{ path('freebeats_home_homepage') }}">
         	<p>Accueil </p>
         </a>
         <a class="nonblock nontext clearfix colelem footer-map-link" id="u1405-4" href="{{ path('freebeats_unlimitedcard_homepage') }}">
         	<p>La carte illimitée</p>
         </a>
         <a class="nonblock nontext clearfix colelem footer-map-link" id="u1402-4" href="{{ path('freebeats_showroom_homepage') }}">
         	<p>Les salles présenties </p>
         </a>
         <a class="nonblock nontext clearfix colelem footer-map-link" id="u1403-4" href="{{ path('freebeats_subscribe_homepage') }}">
         	<p>Abonnez-vous</p>
         </a>
         <a class="nonblock nontext clearfix colelem footer-map-link" id="u1404-4" href="{{ path('freebeats_about_homepage') }}">
         	<p>A propos </p>
         </a>
         <a class="nonblock nontext clearfix colelem footer-map-link" id="u1404-4" href="{{ path('freebeats_about_terms_conditions') }}">
         	<p>Termes et conditions d'abonement</p>
         </a>
         <a class="nonblock nontext clearfix colelem footer-map-link" id="u1404-4" href="{{ path('freebeats_about_homepage') }}">
         	<p>Infos légales</p>
         </a>
        </div>
        <div class="grpelem" id="u5831"><!-- simple frame --></div>
        <div class="clearfix grpelem" id="pu5272-4"><!-- column -->
         <div class="clearfix colelem" id="u5272-4"><!-- content -->
          <p>Qui sommes-nous ?</p>
         </div>
         <div class="clearfix colelem" id="pu5854"><!-- group -->
          <div class="grpelem" id="u5854"><!-- image -->
           <img id="u5854_img" src="{{ asset('bundles/freebeatshome/images/logo2100x72.png') }}" alt="" width="100" height="72">
          </div>
          <div class="clearfix grpelem" id="u5274-4"><!-- content -->
           <p>Freedom Beats est une société de création, de production et 
           de diffusion de l'industrie de la musique créée pour lancer et 
           développer le mouvement artistique éponyme. </p>
          </div>
         </div>
         <div class="clearfix colelem" id="u1386-4"><!-- content -->
          <p><span id="u1386"></span></p>
         </div>
        </div>
        <div class="grpelem" id="u5830"><!-- simple frame --></div>
        <div class="clearfix grpelem" id="u5265-4"><!-- content -->
         <p>Contactez-nous</p>
        </div>
        <div class="clearfix colelem" id="u1327-4"><!-- content -->
          <p>
          	(c) Freedom Beats Illimité. TOUT DROITS RESERVES 2012 - Design by DISIDE STUDIO
          	<script type="text/javascript">
			
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-35396030-1']);
			  _gaq.push(['_setDomainName', 'freedombeats.com']);
			  _gaq.push(['_trackPageview']);
			
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
			
			</script>
          </p>
         </div>
       </div>
      </div>
     </div>
     
     
     <!-- CONTACT FORM -->
     {% render "freebeatsHomeBundle:Default:contactUs" %}
     
     <div class="clearfix grpelem" id="u5276-11"><!-- content -->
      <p>
      	Freedom Beats axe principalement son travail sur la recherche et 
      	la promotion d'artistes du monde, ambassadeur d'une culture, d'une esthétique.
      </p>
      <p>
      	Freedom Beats veut bousculer les codes et dogmes actuels du marché artistique 
      	et redonner en particulier à la Musique ses rôles essentiels de véhicule de&nbsp; 
      	messages fondamentaux et de passerelle entre les cultures. 
      </p>
      <p>
      	Freedom Beats propose de créer un nouveau rapport entre la Musique, les musiciens et le public. 
      	Il est temps de redonner au mélomane la capacité de redevenir acteur de la chaîne de création, 
      	de production et de promotion. 
      </p>
      <p>
      	C'est pour permettre aux mélomanes de libérer leur passion pour la musique, que Freedom Beats 
      	a crée la carte FBI - Freedom Beats Illimité, première carte d'abonnement pour concerts live.
      </p>
      <p>&nbsp;</p>
     </div>
    </div>
   </div>
  </div>
  <div class="preload_images">
   <img class="preload" src="{{ asset('bundles/freebeats/images/bouton%20sondage22.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/bouton%20sondage23.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/bouton%20sondage24.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/facebook-u5899-r-fr.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/twitter-u5910-r-fr.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/u212-r-sprite.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/u212-m-sprite.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/u212-a-sprite.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/u6079-r-sprite.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/u6079-m-sprite.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/u6079-a-sprite.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/u6105-r-sprite.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/u6105-m-sprite.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/u6053-r-sprite.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/u6053-m-sprite.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/u6053-a-sprite.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/boutton2.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/boutton4.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/btn%20envoyer-u5157-17-r.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/btn%20envoyer-u5157-17-m.png') }}" alt="">
   <img class="preload" src="{{ asset('bundles/freebeats/images/btn%20envoyer-u5157-17-fs.png') }}" alt="">
  </div>