  <div>
    <div class="" id="master-footer">
        <p class="footer-links">
	         <a class="footer-map-link" id="" href="{{ path('freebeats_home_homepage') }}">Accueil</a>
	         <a class="footer-map-link" id="" href="{{ path('freebeats_unlimitedcard_homepage') }}">La carte illimitée</a>
	         <a class="footer-map-link" id="" href="{{ path('freebeats_showroom_homepage') }}">Les salles présenties</a>
	         <a class="footer-map-link" id="" href="{{ path('freebeats_subscribe_homepage') }}">Abonnez-vous</a>
	         <a class="footer-map-link" id="" href="{{ path('freebeats_about_homepage') }}">A propos</a>
	         <a class="footer-map-link" id="" href="{{ path('freebeats_about_terms_conditions') }}">Termes et conditions d'abonement</a>
	         <a class="footer-map-link" id="" href="{{ path('freebeats_about_homepage') }}">Infos légales</a>
	         <a class="footer-map-link" id="" href="{{ path('freebeats_home_contactus') }}">Contactez-nous</a>
        </p>
        <p class="footer-links footer-note">(c) Freedom Beats Illimité. TOUT DROITS RESERVES 2012 - Design by DISIDE STUDIO</p>
        <p style="clear : both"></p>
    </div>
  </div>