     <div class="grpelem" id="u329"><!-- image -->
      <img id="u329_img" src="{{ asset('bundles/freebeatshome/images/shadow2.png') }}" alt="" width="1024" height="18">
     </div>
     <div class="gradient rounded-corners clearfix grpelem" id="u318"><!-- group -->
      <div class="clearfix grpelem" id="pu1315"><!-- column -->
       <div class="colelem" id="u1315"><!-- image -->
        <img id="u1315_img" src="{{ asset('bundles/freebeatshome/images/vise.png') }}" alt="" width="12" height="13">
       </div>
       <div class="colelem" id="u1318"><!-- image -->
        <img id="u1318_img" src="{{ asset('bundles/freebeatshome/images/vise.png') }}" alt="" width="12" height="13">
       </div>
      </div>
      <a class="nonblock nontext MuseLinkActive grpelem" id="u324" href="{{ path('freebeats_home_homepage') }}"><!-- image -->
      	<img id="u324_img" src="{{ asset('bundles/freebeatshome/images/logo.png') }}" alt="" width="157" height="62">
      </a>
      <div class="clearfix grpelem" id="pu1321"><!-- column -->
       <div class="colelem" id="u1321"><!-- image -->
        <img id="u1321_img" src="{{ asset('bundles/freebeatshome/images/vise.png') }}" alt="" width="12" height="13">
       </div>
       <div class="colelem" id="u1324"><!-- image -->
        <img id="u1324_img" src="{{ asset('bundles/freebeatshome/images/vise.png') }}" alt="" width="12" height="13">
       </div>
      </div>
     </div>
     <div class="grpelem" id="u5889"><!-- image -->
      <img id="u5889_img" src="{{ asset('bundles/freebeatshome/images/waves.png') }}" alt="" width="1024" height="420">
     </div>
     <div class="grpelem" id="u339"><!-- image -->
      <img id="u339_img" src="{{ asset('bundles/freebeatshome/images/page%20shadow.png') }}" alt="" width="1003" height="66">
     </div>
     <div class="gradient rounded-corners grpelem" id="u70"><!-- simple frame --></div>
     <div class="MenuBar grpelem" id="menuu73"><!-- row --></div>
     <div class="MenuBar grpelem" id="menuu268"><!-- row --></div>
     <div class="MenuBar grpelem" id="menuu218"><!-- row --></div>
     <div class="MenuBar grpelem" id="menuu6023"><!-- row --></div>
     <div class="clearfix grpelem" id="u2708"><!-- group -->
      <div class="pointer_cursor MuseLinkActive gradient rounded-corners clearfix grpelem" id="u346"><!-- group -->
       <a class="block" href="index.html"></a>
       <a class="nonblock nontext MuseLinkActive grpelem" id="u347" href="{{ path('freebeats_home_homepage') }}"><!-- image -->
       	<img class="MuseLinkActive" id="u347_img" src="{{ asset('bundles/freebeatshome/images/home.png') }}" alt="" width="26" height="24">
       </a>
      </div>
     </div>
     
     <!-- SIDE BAR -->
     <div class="shadow gradient rounded-corners grpelem" id="u556"><!-- simple frame --></div>
     <a class="nonblock nontext grpelem" id="u880" href="{{ path('freebeats_survey_new') }}"><!-- simple frame --></a>
     <div class="grpelem" id="u908"><!-- image -->
      <img id="u908_img" src="{{ asset('bundles/freebeatshome/images/vise.png') }}" alt="" width="12" height="13">
     </div>
     <div class="grpelem" id="u919"><!-- image -->
      <img id="u919_img" src="{{ asset('bundles/freebeatshome/images/vise.png') }}" alt="" width="12" height="13">
     </div>
     <div class="grpelem" id="u913"><!-- image -->
      <img id="u913_img" src="{{ asset('bundles/freebeatshome/images/vise.png') }}" alt="" width="12" height="13">
     </div>
     <div class="grpelem" id="u916"><!-- image -->
      <img id="u916_img" src="{{ asset('bundles/freebeatshome/images/vise.png') }}" alt="" width="12" height="13">
     </div>
     <a class="nonblock nontext MuseLinkActive grpelem" id="u71-6" href="{{ path('freebeats_home_homepage') }}"><!-- rasterized frame -->
     	<img id="u71-6_img" src="{{ asset('bundles/freebeatshome/images/u71-6.png') }}" alt="FREEDOM BEATS ILLIMITE" width="19" height="266">
     </a>
     <div class="grpelem" id="u5843"><!-- image --></div>
     <a class="grpelem" id="u5899" href="http://www.facebook.com/pages/Freedom-Beats/173733999420767" target="_blank"><!-- simple frame --></a>
     <a class="grpelem" id="u5910" href="https://twitter.com/#!/BeatsFreedom" target="_blank"><!-- simple frame --></a>
     <ul class="MenuBar clearfix grpelem" id="menuu193"><!-- row -->
      <li class="MenuItemContainer clearfix grpelem" id="u211"><!-- vertical box -->
       <div class="MenuItem MenuItemWithSubMenu clearfix colelem" id="pu212"><!-- group -->
        <a class="nonblock nontext rounded-corners grpelem" id="u212" href="{{ path('freebeats_unlimitedcard_homepage') }}"><!-- horizontal box -->
        	<div class="_u212 f3s_top"></div>
        	<div class="_u212 f3s_mid clearfix">
        		<div class="MenuItemLabel NoWrap clearfix grpelem" id="u215-4"><!-- content -->
        			<p><div class="funcky-color" style="display:inline;">F B I</div>llimité</p>
        		</div>
        	</div>
        	<div class="_u212 f3s_bot">
        	</div>
        </a>
       </div>
      </li>
      <ul class="header-subtitle" id="fbi-sublist" style="display:none;">
      	<a href="{{ path('freebeats_home_homepage') }}"><li>Les avantages</li></a>
      	<a href="{{ path('freebeats_home_howdoesitwork') }}"><li>Comment ça marche ?</li></a>
      	<a href="{{ path('freebeats_subscribe_homepage') }}"><li>Je m'abonne !</li></a>
      	<a href="{{ path('freebeats_showroom_homepage') }}"><li>La salle de concert</li></a>
      	<a href="{{ path('freebeats_showroom_homepage') }}"><li>Programmation</li></a>
      	<a href="{{ path('freebeats_home_news') }}"><li>Actualités</li></a>
      </ul>
     </ul>
     <ul class="MenuBar clearfix grpelem" id="menuu6075"><!-- row -->
      <li class="MenuItemContainer clearfix grpelem" id="u6076"><!-- vertical box -->
       <div class="MenuItem MenuItemWithSubMenu clearfix colelem" id="pu6079"><!-- group -->
        <a class="nonblock nontext rounded-corners grpelem" id="u6079" href="{{ path('freebeats_subscribe_homepage') }}">
	        <!-- horizontal box -->
	        <div class="_u6079 f3s_top"></div>
	        <div class="_u6079 f3s_mid clearfix">
	        <div class="MenuItemLabel NoWrap clearfix grpelem" id="u6080-4">
	        <!-- content -->
	        <p>La boutique</p>
	        </div>
	        </div>
	        <div class="_u6079 f3s_bot">
	        </div>
        </a>
       </div>
      </li>
     </ul>
     <ul class="MenuBar clearfix grpelem" id="menuu6101"><!-- row -->
      <li class="MenuItemContainer clearfix grpelem" id="u6102"><!-- vertical box -->
       <div class="MenuItem MenuItemWithSubMenu clearfix colelem" id="pu6105"><!-- group -->
        <a class="nonblock nontext rounded-corners grpelem" id="u6105" href="{{ path('freebeats_about_homepage') }}">
	        <!-- horizontal box --><div class="_u6105 f3s_top"></div>
	        <div class="_u6105 f3s_mid clearfix">
	        	<div class="MenuItemLabel NoWrap clearfix grpelem" id="u6106-4"><!-- content -->
	        		<p><div class="funcky-color" style="display: inline;">F B W</div>orld</p>
	        	</div>
	        </div>
	        <div class="_u6105 f3s_bot"></div>
        </a>
       </div>
      </li>
      <ul class="header-subtitle" id="fbw-sublist" style="display:none;">
      	<a href="{{ path('freebeats_about_homepage') }}"><li>Le principe</li></a>
      	<a href="{{ path('freebeats_showroom_homepage') }}"><li>Programmation pressentie</li></a>
      	<a href="{{ path('freebeats_about_terms_conditions') }}"><li>Comment ça marche</li></a>
      	<a href="{{ path('freebeats_about_terms_conditions') }}"><li>Les avantages</li></a>
      	<a href="{{ path('freebeats_subscribe_homepage') }}"><li>Abonnez-vous</li></a>
      	<a href="{{ path('freebeats_about_terms_conditions') }}"><li>Voir les conditions d'abonnement</li></a>
      </ul>
     </ul>
     <!-- <ul class="MenuBar clearfix grpelem" id="menuu6049"><!-- row -->
      <!-- <li class="MenuItemContainer clearfix grpelem" id="u6050"><!-- vertical box -->
       <!-- <div class="MenuItem MenuItemWithSubMenu clearfix colelem" id="pu6053"><!-- group -->
        <!-- <a class="nonblock nontext rounded-corners grpelem" id="u6053" href="{{ path('freebeats_showroom_homepage') }}"><!-- horizontal box -->
        <!-- <div class="_u6053 f3s_top"></div>
        <div class="_u6053 f3s_mid clearfix">
        	<!-- <div class="MenuItemLabel NoWrap clearfix grpelem" id="u6054-4"><!-- content -->
        		<!-- <p>Les salles présenties</p>
        	</div>
        </div>
        <div class="_u6053 f3s_bot"></div>
        </a>
       </div>
      </li>
     </ul>
     -->
     <div class="grpelem" id="u6167"><!-- custom html -->
		<!--champs rechercher -->
		<form class="search" method="post" action="recherche.html">
			 <input type="text" name="q" placeholder="rechercher..." id="search_css">
		</form>
	</div>