     <div class="grpelem" id="u329"><!-- image -->
      <img id="u329_img" src="{{ asset('bundles/freebeats/images/shadow2.png') }}" alt="" width="1024" height="18">
     </div>
     <div class="gradient rounded-corners clearfix grpelem" id="u318"><!-- group -->
      <div class="clearfix grpelem" id="pu1315"><!-- column -->
       <div class="colelem" id="u1315"><!-- image -->
        <img id="u1315_img" src="{{ asset('bundles/freebeats/images/vise.png') }}" alt="" width="12" height="13">
       </div>
       <div class="colelem" id="u1318"><!-- image -->
        <img id="u1318_img" src="{{ asset('bundles/freebeats/images/vise.png') }}" alt="" width="12" height="13">
       </div>
      </div>
      <a class="nonblock nontext MuseLinkActive grpelem" id="u324" href="index.html"><!-- image --><img id="u324_img" src="{{ asset('bundles/freebeats/images/logo.png') }}" alt="" width="157" height="62"></a>
      <div class="clearfix grpelem" id="pu1321"><!-- column -->
       <div class="colelem" id="u1321"><!-- image -->
        <img id="u1321_img" src="{{ asset('bundles/freebeats/images/vise.png') }}" alt="" width="12" height="13">
       </div>
       <div class="colelem" id="u1324"><!-- image -->
        <img id="u1324_img" src="{{ asset('bundles/freebeats/images/vise.png') }}" alt="" width="12" height="13">
       </div>
      </div>
     </div>
     <div class="grpelem" id="u5889"><!-- image -->
      <img id="u5889_img" src="{{ asset('bundles/freebeats/images/waves.png') }}" alt="" width="1024" height="420">
     </div>
     <div class="grpelem" id="u339"><!-- image -->
      <img id="u339_img" src="{{ asset('bundles/freebeats/images/page%20shadow.png') }}" alt="" width="1003" height="66">
     </div>
     <div class="gradient rounded-corners grpelem" id="u70"><!-- simple frame --></div>
     <div class="MenuBar grpelem" id="menuu73"><!-- row --></div>
     <div class="MenuBar grpelem" id="menuu268"><!-- row --></div>
     <div class="MenuBar grpelem" id="menuu218"><!-- row --></div>
     <div class="MenuBar grpelem" id="menuu6023"><!-- row --></div>
     <div class="clearfix grpelem" id="u2708"><!-- group -->
      <div class="pointer_cursor MuseLinkActive gradient rounded-corners clearfix grpelem" id="u346"><!-- group -->
       <a class="block" href="index.html"></a>
       <a class="nonblock nontext MuseLinkActive grpelem" id="u347" href="index.html"><!-- image --><img class="MuseLinkActive" id="u347_img" src="{{ asset('bundles/freebeats/images/home.png') }}" alt="" width="26" height="24"></a>
      </div>
     </div>
     <div class="shadow gradient rounded-corners grpelem" id="u556"><!-- simple frame --></div>
     <a class="nonblock nontext grpelem" id="u880" href="songade.html"><!-- simple frame --></a>
     <div class="grpelem" id="u908"><!-- image -->
      <img id="u908_img" src="{{ asset('bundles/freebeats/images/vise.png') }}" alt="" width="12" height="13">
     </div>
     <div class="grpelem" id="u919"><!-- image -->
      <img id="u919_img" src="{{ asset('bundles/freebeats/images/vise.png') }}" alt="" width="12" height="13">
     </div>
     <div class="grpelem" id="u913"><!-- image -->
      <img id="u913_img" src="{{ asset('bundles/freebeats/images/vise.png') }}" alt="" width="12" height="13">
     </div>
     <div class="grpelem" id="u916"><!-- image -->
      <img id="u916_img" src="{{ asset('bundles/freebeats/images/vise.png') }}" alt="" width="12" height="13">
     </div>
     <a class="nonblock nontext MuseLinkActive grpelem" id="u71-6" href="index.html"><!-- rasterized frame --><img id="u71-6_img" src="{{ asset('bundles/freebeats/images/u71-6.png') }}" alt="FREEDOM BEATS ILLIMITE" width="19" height="266"></a>
     <div class="grpelem" id="u5843"><!-- image --></div>
     <div class="grpelem" id="u5899"><!-- simple frame --></div>
     <div class="grpelem" id="u5910"><!-- simple frame --></div>
     <ul class="MenuBar clearfix grpelem" id="menuu193"><!-- row -->
      <li class="MenuItemContainer clearfix grpelem" id="u211"><!-- vertical box -->
       <div class="MenuItem MenuItemWithSubMenu clearfix colelem" id="pu212"><!-- group -->
        <a class="nonblock nontext rounded-corners grpelem" id="u212" href="la-carte-illimit%c3%a9.html"><!-- horizontal box --><div class="_u212 f3s_top"></div><div class="_u212 f3s_mid clearfix"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u215-4"><!-- content --><p>La Carte Illimité</p></div></div><div class="_u212 f3s_bot"></div></a>
       </div>
      </li>
     </ul>
     <ul class="MenuBar clearfix grpelem" id="menuu6075"><!-- row -->
      <li class="MenuItemContainer clearfix grpelem" id="u6076"><!-- vertical box -->
       <div class="MenuItem MenuItemWithSubMenu clearfix colelem" id="pu6079"><!-- group -->
        <a class="nonblock nontext rounded-corners grpelem" id="u6079" href="abonnez-vous.html">
	        <!-- horizontal box -->
	        <div class="_u6079 f3s_top"></div>
	        <div class="_u6079 f3s_mid clearfix">
	        <div class="MenuItemLabel NoWrap clearfix grpelem" id="u6080-4">
	        <!-- content -->
	        <p>Abonnez-vous</p>
	        </div>
	        </div>
	        <div class="_u6079 f3s_bot">
	        </div>
        </a>
       </div>
      </li>
     </ul>
     <ul class="MenuBar clearfix grpelem" id="menuu6101"><!-- row -->
      <li class="MenuItemContainer clearfix grpelem" id="u6102"><!-- vertical box -->
       <div class="MenuItem MenuItemWithSubMenu clearfix colelem" id="pu6105"><!-- group -->
        <a class="nonblock nontext rounded-corners grpelem" id="u6105" href="a-propos.html">
	        <!-- horizontal box --><div class="_u6105 f3s_top"></div>
	        <div class="_u6105 f3s_mid clearfix"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u6106-4"><!-- content --><p>A propos</p></div>
	        </div><div class="_u6105 f3s_bot"></div>
        </a>
       </div>
      </li>
     </ul>
     <ul class="MenuBar clearfix grpelem" id="menuu6049"><!-- row -->
      <li class="MenuItemContainer clearfix grpelem" id="u6050"><!-- vertical box -->
       <div class="MenuItem MenuItemWithSubMenu clearfix colelem" id="pu6053"><!-- group -->
        <a class="nonblock nontext rounded-corners grpelem" id="u6053" href="les-salles-pr%c3%a9senties.html"><!-- horizontal box -->
        <div class="_u6053 f3s_top"></div>
        <div class="_u6053 f3s_mid clearfix"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u6054-4"><!-- content --><p>Les Salles présenties</p></div></div><div class="_u6053 f3s_bot"></div></a>
       </div>
      </li>
     </ul>
     <div class="grpelem" id="u6167"><!-- custom html -->
		<!--champs rechercher -->
		<form class="search" method="post" action="recherche.html">
			 <input type="text" name="q" placeholder="rechercher..." id="search_css">
		</form>
	</div>