{% extends '::base.html.twig' %}

{% block content %}

      <div class="clearfix colelem homepage-content" id="pu5798"><!-- group -->
       <div class="grpelem" id="u5798"><!-- image -->
        <img id="u5798_img" src="{{ asset('bundles/freebeatshome/images/shadow-left-corner.png') }}" alt="" width="571" height="305">
       </div>
       <div class="PamphletWidget clearfix grpelem wp-slideshow-playing" id="pamphletu5433"><!-- group -->
        <div class="ThumbGroup clearfix grpelem" id="u5447"><!-- none box -->
         <div class="popup_anchor">
          <div class="Thumb popup_element" id="u5450"><!-- simple frame --></div>
         </div>
         <div class="popup_anchor">
          <div class="Thumb popup_element" id="u5479"><!-- simple frame --></div>
         </div>
         <div class="popup_anchor">
          <div class="Thumb popup_element" id="u5481"><!-- simple frame --></div>
         </div>
         <div class="popup_anchor">
          <div class="Thumb popup_element" id="u5483"><!-- simple frame --></div>
         </div>
         <div class="popup_anchor">
          <div class="Thumb popup_element" id="u5485"><!-- simple frame --></div>
         </div>
         <div class="popup_anchor">
          <div class="Thumb popup_element wp-tab-active PamphletThumbSelected" id="u5487"><!-- simple frame --></div>
         </div>
         <div class="popup_anchor">
          <div class="Thumb popup_element" id="u5762"><!-- simple frame --></div>
         </div>
        </div>
        <div class="popup_anchor">
         <div class="ContainerGroup clearfix" id="u5434" style="width: 0px; height: 0px; "><!-- stack box -->
          <div class="Container rounded-corners clearfix grpelem wp-panel" id="u5437" style="display: none; "><!-- group -->
           <div class="grpelem" id="u5792"><!-- image -->
            <img id="u5792_img" src="{{ asset('bundles/freebeatshome/images/photo7.png') }}" alt="" width="900" height="600">
           </div>
          </div>
          <div class="Container rounded-corners clearfix grpelem wp-panel" id="u5480" style="display: none; "><!-- group -->
           <div class="grpelem" id="u5787"><!-- image -->
            <img id="u5787_img" src="{{ asset('bundles/freebeatshome/images/photo6.png') }}" alt="" width="900" height="600">
           </div>
          </div>
          <div class="Container rounded-corners clearfix grpelem wp-panel" id="u5482" style="display: none; "><!-- group -->
           <div class="clearfix grpelem" id="u5782"><!-- image -->
            <div id="u5782_clip">
             <img class="position_content" id="u5782_img" src="{{ asset('bundles/freebeatshome/images/photo5.png') }}" alt="" width="900" height="600">
            </div>
           </div>
          </div>
          <div class="Container rounded-corners clearfix grpelem wp-panel" id="u5484" style="display: none; "><!-- group -->
           <div class="grpelem" id="u5777"><!-- rasterized frame -->
            <img id="u5777_img" src="{{ asset('bundles/freebeatshome/images/photo4.png') }}" alt="" width="900" height="600">
           </div>
          </div>
          <div class="Container rounded-corners clearfix grpelem wp-panel" id="u5486" style="display: none; "><!-- group -->
           <div class="grpelem" id="u5772"><!-- image -->
            <img id="u5772_img" src="{{ asset('bundles/freebeatshome/images/photo3.png') }}" alt="" width="900" height="600">
           </div>
          </div>
          <div class="Container rounded-corners clearfix grpelem wp-panel wp-panel-active" id="u5488" style=""><!-- group -->
           <div class="grpelem" id="u5757"><!-- image -->
            <img id="u5757_img" src="{{ asset('bundles/freebeatshome/images/photo1.png') }}" alt="" width="900" height="600">
           </div>
          </div>
          <div class="Container rounded-corners clearfix grpelem wp-panel" id="u5763" style="display: none; "><!-- group -->
           <div class="grpelem" id="u5767"><!-- image -->
            <img id="u5767_img" src="{{ asset('bundles/freebeatshome/images/photo2.png') }}" alt="" width="900" height="600">
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>

{% endblock %}