{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/freebeatshome/css/plan-du-site.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="clearfix grpelem" id="pu6133"><!-- group -->
      <div class="rounded-corners clearfix grpelem" id="u6133"><!-- column -->
       <div class="colelem" id="u6135-4"><!-- rasterized frame -->
        <img id="u6135-4_img" src="{{ asset('bundles/freebeatshome/images/u6135-4.png') }}" alt="PLAN DU SITE FBI" width="176" height="17">
       </div>
       <div class="clearfix colelem" id="pu6147"><!-- group -->
        <div class="clearfix grpelem" id="u6147"><!-- column -->
         <div class="colelem" id="u6143"><!-- rasterized frame -->
          <img id="u6143_img" src="{{ asset('bundles/freebeatshome/images/u6143.png') }}" alt="" width="12" height="13">
         </div>
         <div class="colelem" id="u6144"><!-- rasterized frame -->
          <img id="u6144_img" src="{{ asset('bundles/freebeatshome/images/u6144.png') }}" alt="" width="12" height="11">
         </div>
        </div>
        <div class="clearfix grpelem" id="u6134-4"><!-- content -->
         <a class="sitemaplink" href="{{ path('freebeats_unlimitedcard_homepage') }}"><p>La Carte Illimité</p></a>
        </div>
       </div>
       <div class="clearfix colelem" id="u6136-8"><!-- content -->
        <p id="u6136-2">Tout savoir sur le fonctionnement de la carte FBi</p>
        <p id="u6136-3">&nbsp;</p>
        <p class="Style-de-paragraphe" id="u6136-6"><span id="u6136-4">La carte FBI, c'est le paradis des mélomanes puisque cette carte permet d'aller voir autant de concerts qu'on veut sans que la note à la fin du mois ne s'en trouve modifiée.</span>&nbsp;</p>
       </div>
       <div class="clearfix colelem" id="pu6148"><!-- group -->
        <div class="clearfix grpelem" id="u6148"><!-- column -->
         <div class="colelem" id="u6150"><!-- rasterized frame -->
          <img id="u6150_img" src="{{ asset('bundles/freebeatshome/images/u6150.png') }}" alt="" width="12" height="13">
         </div>
         <div class="colelem" id="u6149"><!-- rasterized frame -->
          <img id="u6149_img" src="{{ asset('bundles/freebeatshome/images/u6149.png') }}" alt="" width="12" height="11">
         </div>
        </div>
        <div class="clearfix grpelem" id="u6138-4"><!-- content -->
         <a class="sitemaplink" href="{{ path('freebeats_showroom_homepage') }}">Les salles présenties</a>
        </div>
       </div>
       <div class="clearfix colelem" id="u6137-7"><!-- content -->
        <p id="u6137-2">Une selection des salles parisienne en exclusivité</p>
        <p>&nbsp;</p>
        <p>Nous avons choisis pour vous, plus d'une dizaine de salles parisienne, afin de répondre au mieux à tout les styles du moment.</p>
       </div>
       <div class="clearfix colelem" id="pu6151"><!-- group -->
        <div class="clearfix grpelem" id="u6151"><!-- column -->
         <div class="colelem" id="u6152"><!-- rasterized frame -->
          <img id="u6152_img" src="{{ asset('bundles/freebeatshome/images/u6152.png') }}" alt="" width="12" height="13">
         </div>
         <div class="colelem" id="u6153"><!-- rasterized frame -->
          <img id="u6153_img" src="{{ asset('bundles/freebeatshome/images/u6153.png') }}" alt="" width="12" height="11">
         </div>
        </div>
        <div class="clearfix grpelem" id="u6140-4"><!-- content -->
         <a class="sitemaplink" href="{{ path('freebeats_subscribe_homepage') }}">Abonnez-vous</a>
        </div>
       </div>
       <div class="clearfix colelem" id="u6139-7"><!-- content -->
        <p id="u6139-2">Les démarches pour l'abonnement </p>
        <p id="u6139-3">&nbsp;</p>
        <p id="u6139-5">Vous pouvez vous abonner en ligne, en remplissant soigneusement la fiche de renseignement et en validant chaque étape d'inscription. Ensuite vous recevrez un email de confirmation de votre inscription, nous nous efforcerons de traiter dans un bref délai votre abonnement.</p>
       </div>
       <div class="clearfix colelem" id="pu6154"><!-- group -->
        <div class="clearfix grpelem" id="u6154"><!-- column -->
         <div class="colelem" id="u6155"><!-- rasterized frame -->
          <img id="u6155_img" src="{{ asset('bundles/freebeatshome/images/u6155.png') }}" alt="" width="12" height="13">
         </div>
         <div class="colelem" id="u6156"><!-- rasterized frame -->
          <img id="u6156_img" src="{{ asset('bundles/freebeatshome/images/u6156.png') }}" alt="" width="12" height="11">
         </div>
        </div>
        <div class="clearfix grpelem" id="u6142-4"><!-- content -->
         <a class="sitemaplink" href="{{ path('freebeats_about_homepage') }}">À propos</a>
        </div>
       </div>
       <div class="clearfix colelem" id="u6141-7"><!-- content -->
        <p id="u6141-2">Présentation de la société </p>
        <p>&nbsp;</p>
        <p>
        	Freedom Beats est une société de création, de production et de&nbsp; 
        	diffusion de l’industrie de la musique créée pour lancer et développer 
        	le mouvement artistique éponyme. </p>
       </div>
      </div>
     </div>


{% endblock %}