{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/freebeatsunlimitedcard/css/la-carte-illimite.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="clearfix grpelem" id="ppu3391"><!-- column -->
      <div class="colelem" id="pu3391"><!-- inclusion -->
       <div id="pu3391_position_content">
        <table class="inclusion_context">
         <tbody><tr>
          <td class="inclelem" id="u3391"><!-- simple frame -->
           <div style="width: 879px;"></div>
          </td>
          <td class="inclelem" id="pu3391_position_inner_content">
           <div class="clearfix" id="pu3398"><!-- column -->
            <div class="clearfix colelem" id="u3398"><!-- group -->
             <div class="rounded-corners clearfix grpelem" id="u3392"><!-- group -->
              <div class="grpelem" id="u3393"><!-- rasterized frame -->
               <img id="u3393_img" src="{{ asset('bundles/freebeatsunlimitedcard/images/cartefbii-u3393.png') }}" alt="" width="339" height="199">
              </div>
             </div>
            </div>
            <div class="colelem" id="u3402"><!-- image -->
             <img id="u3402_img" src="{{ asset('bundles/freebeatsunlimitedcard/images/ombre3.png') }}" alt="" width="315" height="28">
            </div>
           </div>
          </td>
         </tr>
        </tbody></table>
       </div>
      </div>
      <div class="colelem" id="u3491-4"><!-- rasterized frame -->
       <img id="u3491-4_img" src="{{ asset('bundles/freebeatsunlimitedcard/images/u3491-4.png') }}" alt="L'ILLIMITÉ EN LIVE...POUR DU LIVE EN ILLIMITÉ" width="519" height="22">
      </div>
      <div class="TabbedPanelsWidget clearfix colelem" id="tab-panelu3408"><!-- column -->
       <div class="TabbedPanelsTabGroup clearfix colelem" id="u3426"><!-- horizontal box -->
        <div class="TabbedPanelsTab clearfix grpelem TabbedPanelsTabSelected TabbedPanelsTabFirst" id="pu3435"><!-- group -->
         <div class="grpelem" id="u3435"><!-- horizontal box -->
          <div class="_u3435 f3s_top clearfix">
           <div class=" NoWrap clearfix grpelem" id="u3436-4"><!-- content -->
            <p>Les Avanteges</p>
           </div>
          </div>
         </div>
        </div>
        <div class="TabbedPanelsTab clearfix grpelem" id="pu3431"><!-- group -->
         <div class="grpelem" id="u3431"><!-- horizontal box -->
          <div class="_u3431 f3s_top clearfix">
           <div class=" NoWrap clearfix grpelem" id="u3434-4"><!-- content -->
            <p>Comment ça marche</p>
           </div>
          </div>
         </div>
        </div>
        <div class="TabbedPanelsTab clearfix grpelem TabbedPanelsTabLast" id="pu3427"><!-- group -->
         <div class="grpelem" id="u3427"><!-- horizontal box -->
          <div class="_u3427 f3s_top clearfix">
           <div class=" NoWrap clearfix grpelem" id="u3429-6"><!-- content -->
            <p>Voir les conditions</p>
            <p>&nbsp;d'abonnement</p>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div class="TabbedPanelsContentGroup clearfix colelem" id="u3439"><!-- stack box -->
        <div class="TabbedPanelsContent clearfix grpelem TabbedPanelsContentVisible" id="u3442" style="display: block; "><!-- group -->
         <div class="rounded-corners clearfix grpelem" id="u3484"><!-- group -->
          <div class="Style-de-paragraphe clearfix grpelem" id="u3487-24"><!-- content -->
           <p id="u3487-2">La carte FBI, c'est le paradis des mélomanes puisque cette carte permet d'aller voir autant de concerts qu'on veut sans que la note à la fin du mois ne s'en trouve modifiée. </p>
           <p id="u3487-3">&nbsp;</p>
           <p id="u3487-5">Cette carte illimitée est la première à être mise en circulation. Freedom Beats a trouvé cette formule magique pour fidéliser un grand nombre d’amateurs de musique live et permettre aux artistes et salles de concert de rentabiliser leurs productions. </p>
           <p id="u3487-6">&nbsp;</p>
           <p id="u3487-10">L’ambition de Freedom Beats est de proposer une programmation ouverte sur la musique de façon globale du jeune futur talent au groupe confirmé et reconnu. <br>&nbsp;</p>
           <p id="u3487-12">Freedom Beats a choisi des salles de concerts pouvant assurer des conditions techniques et un confort optimum. Tous les styles musicaux seront proposés, favorisant ainsi l’attraction d’un très large éventail de personnes. </p>
           <p id="u3487-15"><br>Plus de 100 concerts seront ainsi proposées au public tout au long du mois tous les jours de la semaine.</p>
           <p id="u3487-16">&nbsp;</p>
           <p id="u3487-18">Cette carte permettra à l’abonné de découvrir non seulement des artistes, mais aussi de suivre des producteurs et la programmation de diverses salles de spectacles. </p>
           <p id="u3487-19">&nbsp;</p>
           <p id="u3487-21">Des animations viendront ponctuer les programmations régulières. Des concerts privés, des soirées thématiques, des festivals, des rencontres, des débats, des expositions seront organisés et réservés aux abonnés de la carte FBI.&nbsp; </p>
           <p id="u3487-22">&nbsp;</p>
          </div>
         </div>
        </div>
        <div class="TabbedPanelsContent clearfix grpelem" id="u3440" style="display: none; "><!-- group -->
         <div class="rounded-corners clearfix grpelem" id="u5828"><!-- group -->
          <div class="Style-de-paragraphe clearfix grpelem" id="u5829-21"><!-- content -->
           <p id="u5829-2">Pour obtenir cette carte, il vous suffit de vous rendre sur le site www.freedombeats .com à la rubrique « Réservez votre carte », remplir la fiche d’identité, télécharger sa photo, régler les frais de dossier. </p>
           <p id="u5829-3">&nbsp;</p>
           <p id="u5829-5">Un email récapitulatif envoyé à l’abonné. La carte sera envoyée à l’abonné par courrier postal durant la première quinzaine du mois de septembre 2012 pour une utilisation à partir du 21 septembre 2012. </p>
           <p id="u5829-6">&nbsp;</p>
           <p id="u5829-8">Les frais de dossier sont de 15 euros payés une seule fois. Le prix de la carte est de 49,99 euros par mois sachant que la moyenne des prix des concerts des salles sélectionnées est de 25 euros. Il est donc possible de rentabiliser sa carte en faisant deux concerts. </p>
           <p id="u5829-9">&nbsp;</p>
           <p id="u5829-11">En-dehors du prix très attractif, cette carte permet aussi d'aller voir un concert sans être réellement sûr de sa qualité. Finies les longues interrogations avant d'aller découvrir un artiste, les discussions et débats interminables avec les gens qui vont vous accompagner, les lectures de tous les critiques musique.</p>
           <p id="u5829-12">&nbsp;</p>
           <p id="u5829-14">Vous ne vous posez plus de question : vous avez envie de danser ou tout simplement de partager un moment de musique ? Vous pourrez le faire sans regrets car vous paierez toujours la même chose à la fin du mois.</p>
           <p id="u5829-15">&nbsp;</p>
           <p id="u5829-17">Freedom Beats a créé des services adaptés aux nouvelles habitudes urbaines. Grâce au système développé sur www.freedombeats.com, l’abonné pourra à partir du 21 septembre 2012 s’informer des concerts et pré-réserver ses billets en communiquant le numéro de sa carte FBI. Il pourra ensuite récupérer ses billets dans la salle de spectacle organisant le concert qu’il a sélectionné.&nbsp; Il ne pourra sélectionner qu’un seul concert à la fois. </p>
           <p id="u5829-18">&nbsp;</p>
           <p id="u5829-19">&nbsp;</p>
          </div>
         </div>
        </div>
        <div class="TabbedPanelsContent clearfix grpelem" id="u3441" style="display: none; "><!-- group -->
         <div class="rounded-corners clearfix grpelem" id="u3486"><!-- group -->
          <div class="Style-de-paragraphe clearfix grpelem" id="u3490-6"><!-- content -->
           <p><span id="u3490">Cliquez ici pour connaitre les</span>&nbsp;<span id="u3490-3">Termes et conditions d'abonnement</span></p>
          </div>
         </div>
        </div>
       </div>
      </div>
</div>

{% endblock %}